

#titleTwitchPage{
    color:rgb(255, 255, 255);
}
.twitch_player{
    width: 70%!important;
    margin:auto;
    height: 60vh!important;
    margin-top:5%;
}
#twitch_page{
  background: linear-gradient(110deg, rgb(252, 250, 250) 90%, rgb(140, 70, 146) 1%);
  height: 100vh;
}
