#categoryCard {
  
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100%;
    justify-content: center;
    
   
}



.card-title{
    text-align: center;
    
}

