html{
    height:100vh!important;
}
#player_yt{
    justify-content: center;
    width:95%!important;
    margin:auto;
    height:80vh !important;
   margin-top:3%;
  
}

#yt{
    background-color: red;
    height: 100vh;
}

