html{
    height:100vh!important;
}
#player_yt{
    justify-content: center;
    width:60%!important;
    margin:auto;
    height:60vh !important;
   margin-top:3%;
  
}

#yt{
    background: linear-gradient(180deg, rgb(244, 245, 242) 99%, rgb(219, 9, 9) 1%);
    height: 100vh;
}
