body{
    background-color: rgb(252, 232, 209);
}
.logo{
  
    text-align:center;
    background-color: rgb(252, 232, 209);
    position: relative;
    height:100vh;
    
}
.logo p{
    font-size: 30px;
    color: rgb(148, 49, 127);
}
