.card{
    background-image: url(../../../public/img/doomJaket.jpg);
    background-size:cover;
    background-position: top;
    height:40vh;
    width:40vh;
    color: rgb(248, 242, 242);
    

}


.card img{
   
}
.card-title{
    font-size: 26px;
    text-shadow: 2px 2px black;
}

.card p{

}