body{
  
background-color: white;
}
.logo{
    text-align: center;
}

.logo img{
    
    height:100vh; 
    
}

h1{


    text-align:center;
    
}

.home_p{
    
    text-align:center;
    font-size: 20px;
    color:rgb(99, 173, 247);
    
}