body{
  
    background: linear-gradient(157deg, rgba(255,255,255,1) 46%, rgba(125,125,125,1) 100%);
}
.logo{
    text-align: center;
    
    
}

.logo img{
    
    
    margin:auto;
    margin-top:15%;
    
 
}



