#root{
    height: 100vh;
}

.base-color{
    background-color: white;
    color:blue;

}

.youtube-color{
    background-color: red;
    color: white;

}

.twitch-color{
    background-color: rgb(221, 0, 255);
    color: white;
}

.insta-color{
    background-color: rgb(23, 22, 22);
    color: rgb(251, 213, 25);
}