

#navigation {
    height:10vh;
    width: 10vh;
    flex-direction: row-reverse !important; 
    position: fixed;
    transform:rotate(-90deg);
    top:45vh;
    
    
}

#navigation a{
    height:10px;
    margin:5px;
}

#navigation li, a {
    list-style-type: none !important;
    text-decoration: none !important;
    font-size:16px;
    padding-top: 0px;
    margin-top: 0px;
    color:rgb(99, 173, 247);
}


#navigation a:hover {
    
    padding-top: 0px;
    margin-top: 15px !important;
    color:rgb(253, 250, 253);
   
}


.twitch {
    color: white;
}

.youtube
{
    color: rgb(255, 255, 255);
}

.insta{
    color:white;
}