

#navigation {
    height:10vh;
    width: 10vh;
  margin-top: 45vh;
   padding-left: 10px;
   padding-right: 10px;
   transform: rotate(-90deg);
    position:fixed;
   
    
    
}

#navigation a{
    height:10px;
    margin:5px;
    color:rgb(133, 134, 135);
    padding-top:2px;
    
}

#navigation li, a {
    list-style-type: none !important;
    text-decoration: none !important;
    font-size:16px;
    padding-top: 0px;
    margin-top: 0px;
   
}


#navigation a:hover {
    
    padding-top: 0px;
    // margin-top: 15px !important;
    // cursor:none;
    border-top:2px solid orange;
   
   
}


.twitch {
    color: white;
}

.youtube
{
    color: rgb(255, 255, 255);
}

.insta{
    color:white;
}